body{
    background-color: rgb(252, 187, 97);
}
header{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    font-size: 1.3em;
    
}
router-link a{
    text-decoration: none;
}

footer{
    padding: 1em;
}